* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body::-webkit-scrollbar {
  display: none;
}
body {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

img {
  max-width: 100%;
  height: auto;
  object-fit: contain;
}

.scroll-container-observer {
  width: 9000px;
  height: 9000px;
  display: grid;
  grid-template-columns: 0px 9000px 0px;
}
.up,
.down {
  width: 9000px;
  height: 0px;
  background: yellow;
}
.left,
.right {
  height: 9000px;
  width: 0px;
  background: yellow;
}
.scroll-container-observer .middle {
  display: grid;
  grid-template-columns: repeat(5, 1800px);
  grid-template-rows: repeat(5, 1800px);
}
.inner-grid {
  display: grid;
  grid-template-columns: repeat(4, 450px);
  grid-template-rows: repeat(4, 450px);
}

.debug {
  position: fixed;
  left: 50px;
  top: 50px;
  background: black;
  color: white;
  padding: 0.5rem;
  z-index: 100;
}
